_putchar.c
_putchar.c
_islower.c
_isalpha.c
_abs.c
_isupper.c
_isdigit.c
_strlen.c
_puts.c
_strcpy.c
_atoi.c
_strcat.c
_strncat.c
_strncpy.c
_strcmp.c
_memset.c
_memcpy.c
_strchr.c
_strspn.c
_strpbrk.c
_strstr.c
0-isupper.o
0-memset.o
0-strcat.o
1-isdigit.o
1-memcpy.o
1-strncat.o
100-atoi.o
2-strchr.o
2-strlen.o
2-strncpy.o
3-islower.o
3-puts.o
3-strcmp.o
3-strspn.o
4-isalpha.o
4-strpbrk.o
5-strstr.o
6-abs.o
9-strcpy.o
_putchar.o
main.c
quote
_abs.o
_atoi.o
_isalpha.o
_isdigit.o
_islower.o
_isupper.o
_memcpy.o
_memset.o
_puts.o
_strcat.o
_strchr.o
_strcmp.o
_strcpy.o
_strlen.o
_strncat.o
_strncpy.o
_strpbrk.o
_strspn.o
_strstr.o
liball.a
main.o
